.publications .item {
  display: none;
  transition: opacity 2.5s ease-in-out; 
}

.publications .container {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  line-height: 1.2rem;
  padding-top: 10px;
  display: grid;
}


.publications .date {
  grid-column: span 1;
  font-size: 1.0rem;
  line-height: 1.2rem;
  text-transform: capitalize;
  color: var(--global-text-color);
}

.publications .content {
  grid-column: span 4;
  text-align: left;
}

.publications .details {
  display: flex;
}

.publications .title-link {
  display: inline-block;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.publications .title {
  display: inline-block;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}


.publications .author {
  font-size: 0.95rem;
  font-style: italic;
  color: var(--global-text-color-light);
  margin-bottom: 0.3rem;
}

.publications .journal {
  font-size: 0.95rem;
  line-height: 1.2rem;
  color: var(--global-text-color-light);
}

.publications .chevron {
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease, fill 0.3s ease;
  margin-left: 8px;
  color: var(--global-text-color);
}

.publications .chevron:hover {
  fill: var(--global-hover-color);
  transform: scale(1.1);
}

.publications .separator {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.publications .show-more {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: var(--global-theme-color);
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.publications .show-more:hover {
  background-color: var(--global-hover-color);
}