/*******************************************************************************
 * Themes
 ******************************************************************************/
@use "variables" as v;
 
:root {
  --global-bg-color: #{v.$white-color};
  --global-code-bg-color: #{v.$code-bg-color-light};
  --global-code-fg-color: #{v.$mainlp-dark-blue};
  --global-text-color: #{v.$black-color};
  --global-text-color-light: #{v.$grey-color};
  --global-theme-color: #{v.$mainlp-green};
  --global-hover-color: #{v.$mainlp-light-blue};
  --global-footer-bg-color: #{v.$mainlp-dark-blue};
  --global-footer-text-color: #{v.$grey-color-light};
  --global-footer-link-color: #{v.$white-color};
  --global-distill-app-color: #{v.$grey-color};
  --global-divider-color: #{v.$mainlp-dark-blue};
  --global-card-bg-color: #{v.$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{v.$grey-color-dark};
  --global-code-bg-color: #{v.$code-bg-color-dark};
  --global-text-color: #{v.$grey-color-light};
  --global-text-color-light: #{v.$grey-color-light};
  --global-theme-color: #{v.$cyan-color};
  --global-hover-color: #{v.$cyan-color};
  --global-footer-bg-color: #{v.$grey-color-light};
  --global-footer-text-color: #{v.$grey-color-dark};
  --global-footer-link-color: #{v.$black-color};
  --global-distill-app-color: #{v.$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{v.$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
