---
---
<div class="item">
  <div class="content">
    {% if entry.url %}
      <a href="{{ entry.url }}" class="title-link" target="_blank" rel="noreferrer">{{ entry.title }}</a>
    {% else %}
      <p class="title">{{ entry.title }}</p>
    {% endif %}
    <p class="author">
      {%- for author in entry.author_array -%}
        {%- if forloop.length == 1 -%}
          <!-- non-breaking hyphen -->
            <span>{{author.first | replace: "-", "‑" | replace: " ", "&nbsp;" }}&nbsp;{{author.last | replace: "-", "‑" | replace: " ", "&nbsp;" }}</span> 
        {%- else -%}
          {%- unless forloop.last -%}
            {%- unless forloop.first -%}
              <span>, </span>
            {%- endunless -%}
            <span>{{author.first | replace: "-", "‑" | replace: " ", "&nbsp;" }}&nbsp;{{author.last | replace: "-", "‑" | replace: " ", "&nbsp;" }}</span>
          {%- else -%}
            <span> &amp;&nbsp;{{author.first | replace: "-", "‑" | replace: " ", "&nbsp;" }}&nbsp;{{author.last | replace: "-", "‑" | replace: " ", "&nbsp;" }}</span>
          {%- endunless -%}
        {%- endif -%}
      {%- endfor %}
    </p>
    <p class="details journal">{{entry.journal}}{{entry.booktitle}}</p>
  </div>
</div>
